<div class="container mt-5">
    <h3 class="mb-5">Enter Student Details</h3>
    <form [formGroup]="studentForm" (ngSubmit)="submitStudent()">
        <div class="row">
            <div class="col-lg-4">
                <label for="">Name</label>
                <input [ngClass]="{
                    'has-error':studentForm.controls.name.touched && studentForm.controls.name.invalid,
                    'has-success' : studentForm.controls.name.touched && studentForm.controls.name.valid
                }" type="text" formControlName="name" class="form-control">
                <span style="color:red;"
                *ngIf="studentForm.controls.name.touched && studentForm.controls.name.invalid">Please enter a valid name</span>
            </div>
            <div class="col-lg-4">
                <label for="">Class</label>
                <input [ngClass]="{
                    'has-error':studentForm.controls.class.touched && studentForm.controls.class.invalid,
                    'has-success' : studentForm.controls.class.touched && studentForm.controls.class.valid
                }" type="text" formControlName="class" class="form-control">
                <span style="color:red;"
                *ngIf="studentForm.controls.class.touched && studentForm.controls.class.invalid">Please enter a valid class</span>
            </div>
            <div class="col-lg-4">
                <label for="">Email</label>
                <input [ngClass]="{
                    'has-error':studentForm.controls.email.touched && studentForm.controls.email.invalid,
                    'has-success' : studentForm.controls.email.touched && studentForm.controls.email.valid
                }" type="email" formControlName="email" class="form-control">
                <span style="color:red;"
                 *ngIf="studentForm.controls.email.touched && studentForm.controls.email.invalid">Please enter a valid email</span>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <label for="">Phone Number</label>
                <input [ngClass]="{
                    'has-error':studentForm.controls.phoneNumber.touched && studentForm.controls.phoneNumber.invalid,
                    'has-success' : studentForm.controls.phoneNumber.touched && studentForm.controls.phoneNumber.valid
                }" type="text" formControlName="phoneNumber" class="form-control">
            </div>
            <div class="col-lg-6">
                <label for="">Semester</label>
                <input [ngClass]="{
                    'has-error':studentForm.controls.semester.touched && studentForm.controls.semester.invalid,
                    'has-success' : studentForm.controls.semester.touched && studentForm.controls.semester.valid
                }" type="text" formControlName="semester" class="form-control">
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-lg-12">
                <input type="submit" class="btn btn-primary btn-sm">
            </div>
        </div>
    </form>
</div>
